@import url('https://fonts.googleapis.com/css2?family=Rubik@1&display=swap');

body {
  background: #252323;
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  padding: 20px;
  color: #222222;
}
