@charset "UTF-8";
/* version 1.1 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.tac {
  text-align: center;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  opacity: 0.6;
  color: inherit;
}

:-ms-input-placeholder {
  opacity: 0.6;
  color: inherit;
}

::-ms-input-placeholder {
  opacity: 0.6;
  color: inherit;
}

::placeholder {
  opacity: 0.6;
  color: inherit;
}

html {
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre, fieldset, ul, ol, menu, form {
  margin: 0;
}

input, textarea, button {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button, fieldset, iframe {
  border: 0;
}

button {
  cursor: pointer;
}

fieldset, ul, ol, button, menu {
  padding: 0;
}

ol, ul {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.img-full-width {
  display: block;
  width: 100%;
}
